<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-badge color="danger" class="badge-notifiche" *ngIf="this.env.notificationsCounter">
        {{this.env.notificationsCounter}}</ion-badge>
    </ion-buttons>
    <ion-title> {{this.gameName}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tornei</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Tornei</strong>
    <div>
      <br />
      <label>{{this.errorText}}</label>
    </div>
    <ion-grid>
      <ion-row *ngFor="let tournament of tournamentsList">
        <ion-col (click)="DetailTournament(tournament.id, tournament.name)">
          <div class="container-info-game">
            <div class="titolo">{{tournament.name}}</div>
          </div>
          <ion-img class="logo" src="{{tournament.imgUrl}}"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>