<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Utenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--padding: 5px !important">
  <ion-item color="white">
    <ion-label><i class="fas fa-search"></i></ion-label>
    <ion-input placeholder="Ricerca..."> </ion-input>
  </ion-item>
  <br />
  <ion-text><h2>Lista utenti</h2></ion-text>
  <ion-grid style="padding: 5px">
    <ion-row *ngFor="let user of usersList">
      <ion-col size="10">{{user.username}}</ion-col>
      <ion-col *ngIf="showButtonInvite" size="2"
        ><ion-button (click)="onInviteUser(user.id)"
          ><i class="fas fa-plus"></i></ion-button
      ></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
