.card {
    margin: 0 auto;

    .header {
        height: 200px; // 20vh;

        .avatar {
            width: 160px; //40vw
            height: 160px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px)); // -42px;
                border: 2px solid #095338;
                background-color: #fff;
            }
        }
    }
}

.card-body {
    background-color: #ffffff;
    padding: 15px;
    height: calc(100vh - (200px + 56px));
    overflow: hidden;

    .user-meta {
        padding-top: 20px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }

        .country {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }

    .user-tournament {
        color: #2d2d2d;

        h3 {
            color: #2d2d2d;
        }
    }
}

.row-align-center {
    display: flex;
    align-items: center;

}

.leader-text {
    color: red !important;
}

.user-data {
    display: flex;
    flex-direction: column;
    padding-left: 15px;

    h3 {
        color: white !important;
        margin: 0px;
    }

    p {
        margin: 0px;
        color: #f2f2f2a1;
    }
}

ion-avatar {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
}

ion-card.not-ok:after {
    content: " ";
    background: #bd1010;
    width: 10px;
    position: absolute;
    height: 50px;
    top: 0px;
    left: 0px;
    z-index: 9999;
}