<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-badge color="danger" class="badge-notifiche" *ngIf="this.env.notificationsCounter">
        {{this.env.notificationsCounter}}</ion-badge>
    </ion-buttons>
    <ion-title>Dettagli team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="team-detail-avatar">
    <img src="../../assets/img/avatar-1.jpg" class="team-avatar">
    <ion-text>{{teamObj.name}}</ion-text>
  </div>
  <div class="members-list-container">
    <ion-text>Membri</ion-text>
    <ion-grid>
      <ion-row *ngFor="let member of teamObj.members">
        <ion-col (click)="showUserPage(member)" *ngIf="member.role !== 'LEADER'">{{member.username}}</ion-col>
        <ion-col (click)="showUserPage(member)" class="leader-text" *ngIf="member.role == 'LEADER'">{{member.username}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>