<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-badge
        color="danger"
        class="badge-notifiche"
        *ngIf="this.env.notificationsCounter"
      >
        {{this.env.notificationsCounter}}</ion-badge
      >
    </ion-buttons>
    <ion-title>Dettagli team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card" style="z-index: 11">
    <div class="header" style="z-index: 12">
      <div class="avatar" style="z-index: 13">
        <img style="z-index: 14" src="../../assets/img/avatar-1.jpg" alt="" />
      </div>
    </div>
    <div class="card-body" style="overflow-y: scroll !important; z-index: 10">
      <div class="user-meta ion-text-center">
        <h3 class="playername">{{teamObj && teamObj.name}}</h3>
        <div class="user-tournament">
          <ion-text>Membri</ion-text>
          <ion-grid *ngIf="teamObj">
            <ion-row
              *ngFor="let member of teamObj.members"
              class="row-align-center"
            >
              <ion-col (click)="showUserPage(member)">
                <ion-card>
                  <ion-item>
                    <ion-avatar item-start style="border: 1px solid green">
                      <img src="../../assets/img/avatar-1.jpg" />
                    </ion-avatar>
                    <div class="user-data">
                      <h2>{{member.username}}</h2>
                      <p *ngIf="member.role == 'LEADER'">Leader</p>
                    </div>
                  </ion-item>
                </ion-card>
              </ion-col>

              <ion-button
                *ngIf="this.isLeader && member.role != 'LEADER'"
                color="danger"
                (click)="removeMember(member)"
              >
                X
              </ion-button>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
</ion-content>
