<ion-content id="backgroundimage">
  <ion-card-content>
    <ion-img class="logo" src="../../assets/img/logo.png"></ion-img>
    <form (ngSubmit)="SendEmail()">
      <ion-item color="white">
        <ion-label><i class="fas fa-at"></i></ion-label>
        <ion-input
          clearOnEdit="false"
          autofocus="true"
          type="email"
          [(ngModel)]="email"
          name="email"
        ></ion-input>
      </ion-item>
      <ion-button class="submit-button" type="submit">RECUPERA!</ion-button>
      <ion-card-subtitle>Non sei ancora registrato?</ion-card-subtitle>
      <ion-card-title (click)="SignUpPage()">REGISTRATI!</ion-card-title>
    </form>
  </ion-card-content>
</ion-content>
