<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dettagli utente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollable="true">
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/img/avatar-1.jpg" alt="" />
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="playername">
          {{userObj && userObj.username}}<br />
          <ion-button color="success" (click)="editProfile()"
            ><i class="fas fa-pen"></i>&nbsp;Modifica</ion-button
          >
        </h3>
        <div *ngIf="userObj">
          <div class="country" *ngFor="let plat of userObj.platforms">
            <h5 class="country">{{plat.username}}</h5>
          </div>
        </div>

        <div class="user-tournament">
          <h2>Tornei</h2>
          <ion-grid>
            <ion-row>
              <ion-col
                *ngFor="let tournament of tournamentsList"
                size="6"
                (click)="DetailTournament(tournament._id, tournament.name)"
              >
                <ion-card
                  color="primary"
                  class="tournament-card"
                  style="background-image: url({{tournament.imgUrl}});"
                >
                  <div min-height="40px"></div>
                  <div class="tournament-info">
                    <ion-card-title>{{tournament.name}}</ion-card-title>
                    <ion-card-subtitle
                      ><i class="fab fa-playstation"></i>&nbsp;&nbsp;<i
                        class="fab fa-xbox"
                      ></i>
                    </ion-card-subtitle>
                  </div>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
</ion-content>
