ion-card.header-container{
    min-height: 190px;
    background: none !important;
    border-radius: 15px;
    position: relative;
    overflow: visible;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
    .header-card{
        min-height: 150px;
        width: 100%;
        background: #245339 !important;
        z-index: 1;
        border-radius: 15px;
        background-position: center !important;
        background-size: cover !important;
    }
    .avatar-card{
        background: #245339;
        width: 120px;
        height: 120px;
        border-radius: 120px;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        top: 65px;
        box-shadow: 0px 4px 12px rgba(0,0,0,0.5);
    }
    
}