
ion-content {
    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &#backgroundimage{
        --background: url('../../assets/img/login-bg.jpg') 20% 30%;
    }
}

.logo{
    margin-bottom: 5vh;
    margin-left: 10vw;
    margin-top: 10vw;
    max-width: 80vw;
    min-width: 80vw;
}

.box-form{
    background: white;
}

ion-card-content{
    transform: translateY(50%);
}

form, ion-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-card-subtitle{
        color: white;
    }
    ion-card-title{
        color: white;
        font-weight: bold;
    }
}

ion-item{
    width: 94vw !important;
    border-radius: 5px;
    border: 1px solid var(--ion-color-primary);

    &:first-child{
        margin-bottom: 20px;
    }
}

.submit-button{
    min-width: 50vw;
    height: 45px;
    margin-top: 30px;
}

.align-bottom{
    width: 100vw;
    position: fixed;
    bottom: 10vh !important;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.native-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset !important;
}