<ion-content id="backgroundimage">
  <ion-card-content>
    <ion-img class="logo" src="../../assets/img/logo.png"></ion-img>
    <form (ngSubmit)="LoginForm()">
      <ion-item color="white">
        <ion-label>Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item color="white">
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-button class="submit-button" type="submit" block>Accedi</ion-button>
    </form>
  </ion-card-content>
  <ion-card-content class="align-bottom">
    <ion-card-subtitle>Non sei ancora registrato?</ion-card-subtitle>
    <ion-card-title (click)="SignUpPage()">REGISTRATI!</ion-card-title>
  </ion-card-content>
</ion-content>
