<ion-header [translucent]="true">
  <ion-toolbar contentId="homePage">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
      <ion-badge
        color="danger"
        class="badge-notifiche"
        *ngIf="this.env.notificationsCounter + this.env.ticketUpdates"
      >
        {{this.env.notificationsCounter + this.env.ticketUpdates}}</ion-badge
      >
    </ion-buttons>
    <ion-title>Homepage</ion-title>
    <ion-buttons
      style="padding-right: 20px"
      slot="end"
      (click)="showBuyCoins()"
    >
      <ion-text>{{this.userCoins}}</ion-text>&nbsp;&nbsp;<i
        class="fas fa-coins"
        color="orange"
      ></i>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Homepage</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong style="margin-left: 15px">Giochi</strong>
    <ion-grid>
      <ion-row>
        <ion-col
          *ngFor="let game of gamesList"
          size="6"
          (click)="DetailGame(game._id, game.name)"
        >
          <ion-card
            color="primary"
            class="tournament-card"
            style="background-image: url({{game.imgUrl}});"
          >
            <div min-height="40px"></div>
            <div class="tournament-info">
              <ion-card-title>{{game.name}}</ion-card-title>
              <ion-card-subtitle
                ><i class="fab fa-playstation"></i>&nbsp;&nbsp;<i
                  class="fab fa-xbox"
                ></i>
              </ion-card-subtitle>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
