ion-item{
    width: 95%;
    border-radius: 5px;
    margin-bottom: 20px;
    &:last-child{
        margin-bottom: 30px;
    }
}

form{
    width: 100%;
    //
    display: flex;
    justify-content: center;
    align-items: center;
    //
    flex-direction: column;
}

.submit-button{
    min-width: 50%;
    height: 45px;
    margin-top: 30px;
}

.avatar-container {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }    
}
ion-card.selectedavatar:after{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(7, 15, 6, 0.39);
    content: " ";
    top: 0px;
    left: 0px;
    background-image: url(https://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
}