<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-badge
        color="danger"
        class="badge-notifiche"
        *ngIf="this.env.notificationsCounter + this.env.ticketUpdates"
      >
        {{this.env.notificationsCounter + this.env.ticketUpdates}}</ion-badge
      >
    </ion-buttons>
    <ion-title>Profilo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="editUser()">
    <ion-text style="margin-left: 10px">Dati utente</ion-text>
    <ion-card>
      <ion-item color="white">
        <ion-label><i class="fas fa-user"></i></ion-label>
        <ion-input
          type="text"
          [(ngModel)]="this.userObj.username"
          (change)="onChangeData()"
          name="username"
        ></ion-input>
      </ion-item>
      <ion-item color="white">
        <ion-label><i class="fas fa-at"></i></ion-label>
        <ion-input
          type="email"
          [(ngModel)]="this.userObj.email"
          (change)="onChangeData()"
          name="email"
        ></ion-input>
      </ion-item>
    </ion-card>
    <ion-text style="margin-left: 10px">Console ID</ion-text>
    <ion-card>
      <ion-item color="white" *ngFor="let platform of userObj.platforms">
        <ion-label [innerHTML]="platform.icon"></ion-label>
        <ion-input
          type="text"
          id="{{platform._id}}"
          (change)="onChangeData()"
          value="{{platform.username}}"
          placeholder="{{platform.name}}"
        ></ion-input>
      </ion-item>
    </ion-card>

    <ion-text style="margin-left: 10px">Password</ion-text>
    <ion-card>
      <ion-item color="white">
        <ion-label><i class="fas fa-key"></i> Password Vecchia</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="this.oldPassword"
          (change)="onChangeData()"
          name="password"
        ></ion-input>
      </ion-item>
      <ion-item color="white">
        <ion-label><i class="fas fa-key"></i> Nuova Password</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="this.newPassword"
          (change)="onChangeData()"
          name="password"
        ></ion-input>
      </ion-item>
      <ion-item color="white">
        <ion-label><i class="fas fa-key"></i> Ripeti Password</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="this.repeatPassword"
          (change)="onChangeData()"
          name="password"
        >
        </ion-input>
      </ion-item>
    </ion-card>
    <ion-button
      class="submit-button"
      type="submit"
      disabled="{{this.disabledAggiorna}}"
    >
      Aggiorna
    </ion-button>
  </form>
</ion-content>
