/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

//basic modal
.simple-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 10vh rgba(255, 255, 255, 0.2)
}

//small modal
.small-modal {
    width: 90vw;
    height: 35vh;
    position: absolute;
    top: 37vh;
    left: 5vw;
    border-radius: 10px;
    box-shadow: 0px 0px 310vh rgba(255, 255, 255, 1)
}


* {
    font-family: 'Montserrat', sans-serif;
}

.ion-color-white {
    --ion-color-base: var(--ion-color-white) !important;
    --ion-color-base-rgb: var(--ion-color-white-rgb) !important;
    --ion-color-contrast: var(--ion-color-white-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-white-shade) !important;
    --ion-color-tint: var(--ion-color-white-tint) !important;
}

.background-primary {
    --background: var(--color-toolbar-background) !important;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    --background: var(--ion-background-opacitylow);
}

.scroll-content {
    padding-bottom: 0 !important;
}

ion-toolbar {
    --color: #ffffff;
    --background: #061e4e;
    --box-shadow: 0px 0px 5px black;
}


.badge-notifiche {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 25px;
    top: 25px;
}

.badge-notifiche-menu {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50px;
}

.tournament-card {
    min-height: 200px;
    color: white;
    background-size: cover;

    .tournament-info {
        width: 100%;
        position: absolute;
        bottom: 20px;
        text-align: center;
        text-shadow: 1px 1px 5px black;

        ion-card-title {
            font-size: 1.2em;
        }
    }
}

.loading-wrapper{
    width: 100vw;
    height: 100vh;

    position: absolute;
    z-index: 9999;
    
    background: rgba(0,0,0,0.5);
    color: white !important;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}